body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #e6e6d8;
  overflow: hidden;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.daftar-tugas {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 60vh;
  overflow-y: scroll;
  scrollbar-width: none;
  text-align: center; /* memastikan teks selalu di tengah */
}

.daftar-tugas::-webkit-scrollbar {
  display: none;
}



.daftar-tugas li {
  padding: 15px 0; /* hilangkan padding horizontal */
  font-size: 1.5em;
  color: #777;
  transition: all 0.2s ease-in-out;
  width: 100%; /* pastikan tidak bergerak horizontal */
}

.daftar-tugas li.aktif {
  font-size: 2.3em;
  font-weight: bold;
  color: #000;
}

.daftar-tugas li a {
  text-decoration: none;
  color: inherit;
  display: block;
}


.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(50% + 1in); /* 2 inci ke kiri dari tengah */

  font-size: 2.5em;
  color: #333;
  font-weight: bold;
  pointer-events: none;
}

